# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
#*.out
*.app
cmake-build-debug/
radio-proxy
.idea/
/programArgumentsParserTest
/defaultRadioProxyArgumentsResolverTest
/defaultRadioProxyArgumentsResolverMetadataInvalid
/defaultRadioProxyArgumentsResolverNoHostTest
/defaultRadioProxyArgumentsResolverNoPortTest
/defaultRadioProxyArgumentsResolverNoResourceTest
/defaultRadioProxyArgumentsResolverTimeout0Test
/responseResolverMetadataTest
/responseResolverNoMetadataTest
/out
/err
*.mp3
meta.txt
responseResolverTest
/udpClientsStorageTest
/udpProxyArgumentsResolverTest
/radioClientCommunicationParserTest
/radio-test-client
/radio-test-client-1
